@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'masonchronicles';
  src: url("../fonts/masonchronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

html {
  background-color: #ccc; }

body {
  width: 1440px;
  height: 900px;
  color: #fff;
  background-color: #141218;
  font-family: 'Roboto', sans-serif; }

header {
  height: 97px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 90px; }

.header {
  width: 1134px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto; }
  .header__left {
    width: 340px;
    height: 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  width: 50px;
  height: 36px; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 222px;
  height: 16px; }
  .menu__li {
    display: inline-block; }
    .menu__li--link {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      padding: 0 5px; }
    .menu__li--link:hover {
      background-color: #9d2929; }

.social {
  width: 93px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social__link {
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .social__link:hover {
    background-color: #9d2929; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 975px;
  height: 554px;
  margin-left: 153px; }

.content {
  display: block;
  width: 458px;
  height: 356px; }
  .content__genre {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px; }
  .content__rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 191px;
    height: 14px;
    margin-bottom: 10px; }
  .content__rating--stars img {
    width: 12px; }
  .content__rating--value {
    margin-left: 9px;
    font-size: 12px;
    line-height: 14px; }
  .content__header {
    font-family: MasonChronicles, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 89px;
    margin-bottom: 10px; }
  .content__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px; }
  .content__button {
    width: 260px;
    height: 60px;
    background-color: #9D2929;
    border-radius: 8px;
    color: #fff; }

.button-play {
  background-color: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 5; }
  .button-play img {
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px); }

.button-play::before {
  content: '';
  width: 132px;
  height: 132px;
  top: -16px;
  left: -16px;
  border-radius: 50%;
  background-color: #9D2929;
  opacity: 0.5;
  position: absolute;
  z-index: -1; }
